extends layout

block content
  header
    nav(class = 'navbar navbar-expand-lg bg-light')
      .container
        a(href='' class="navbar-brand") Library
        button(class='btn btn-outline-success ml-auto' data-toggle="modal" data-target="#addBook") Add book

  main
    section.container.mt-5
      .row
        .col-3
          select(class='custom-select')
            option(selected) Due date
            option(value='today') Today
            option(value='tomorrow') Tomorrow
            option(value='week') This week
            option(value='month') This month
        .col.d-flex.align-items-center
          div(class='custom-control custom-checkbox')
            input(type='checkbox' class='custom-control-input' id='inLibrary')
            label(class='custom-control-label' for='inLibrary') In stock

    section.container.mt-4
      .row
        for book in books
              .col-3.mb-3
                .card.book
                  .card-header.px-2
                    .row.no-gutters
                      if book.inLibrary.status
                        .col-6
                          p.text-muted.m-0 In stock
                      else
                        .col-6.d-flex.align-items-center
                          p.text-muted.m-0 #{book.inLibrary.reader}
                        .col-6.d-flex.align-items-center.justify-content-end
                          p.text-muted.m-0 #{book.inLibrary.due}

                  .card-body
                    img(src=book.cover, class='img-thumbnail')
                    p.card-text.mt-3 #{book.author}
                    h3.card-title.mt-2 #{book.title}
                    p.card-text.mt-5 Published: #{book.year}
                    p.card-text.mt-5 Country: #{book.country}
                  .card-footer.p-0
                    if book.inLibrary.status
                      button(class='btn btn-success w-100 border-radius-0') Take this book
                    else
                      button(class='btn btn-primary w-100 border-radius-0') Return this book

    .modal.fade#addBook(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h3.modal-title Add book
            button.close(type='button' data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            form(method='POST' action='/add-book')
              .form-group
                label Title
                input.form-control#name(type="text" placeholder="Enter book's title" name="title")
              .form-group
                label Author's name
                input.form-control#author(type="text" placeholder="Enter author's name" name="author")
              .form-group
                label Published
                input.form-control#year(type="number" placeholder="Enter year" name="year")
              .form-group
                label Country
                input.form-control#year(type="text" placeholder="Enter country" name="country")
              .form-group
                label Cover's image
                input.form-control#year(type="text" placeholder="Enter link" name="cover")

              button.btn.btn-primary(type='submit') Save

  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js")
